html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn {
  text-decoration: none;
  background-color: #333;
  color: #fff;
  border-radius: 8px;
  font-size: 1.125rem;
  border: 3px solid #333;
  padding: .4em .75em .3em;
  display: inline-block;
}

.btn:hover {
  background-color: #fff;
}

.btn-subtle {
  background-color: #ccc;
  border-color: #ccc;
}
.btn-subtle:hover {
  background-color: #666;
  border-color: #666;
}

.btn-ghost {
  border-color: #000;
  background-color: #fff;
  color: #000;
}
.btn-ghost:hover {
  border-color: #666;
  background-color: #666;
  color: white;
}


.btn-big {
  text-decoration: none;
  background-color: red;
  color: #fff;
  border-radius: 8px;
  font-size: 1.125rem;
  border: 3px solid #333;
  padding: .4em .75em .3em;
  display: inline-block;
}
